@import "../../../src/responsive.scss";
.card {
  display: flex;
  align-items: center;
  gap: 20px;
  .img {
    flex: 2;

    img {
      max-width: 100%;
      width: 100%;
      background: #000;
      height: 250px;
      object-fit: cover;
      border-radius: 20px;

      @include sm {
        height: 200px;
      }
    }
  }
  .text {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include sm {
      gap: 10px;
    }

    h3 {
      font-size: 24px;
      text-transform: capitalize;
      @include sm {
        font-size: 18px;
      }
    }

    span {
      display: flex;
      align-items: center;
      gap: 5px;
      text-transform: capitalize;
    }

    .price {
      background: teal;
      width: max-content;
      padding: 5px 10px;
      color: #fff;
      border-radius: 10px;
    }

    .left,
    .right {
      display: flex;
      align-items: center;
      gap: 10px;
      @include sm {
        flex-direction: column;
        gap: 5px;
        text-align: start;
      }

      span {
        cursor: pointer;
        color: #333;

        @include sm {
          font-size: 14px;
        }
      }
    }

    .extraInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
